*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, "sans-serif";
    }
    
    body{
        height: 90vh;
        width: 100%;
        background: linear-gradient(to right bottom, black, transparent), url("./background.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom ;
        
    }
    article{
        text-shadow: 1px 1px 2px black;
        font-size: 130%;
        margin: 64px;
        color: white;
    }
    article h2{
        margin-bottom: 64px;
    }
    p{
        margin-top: 32px;
    }
    
    #social{
        display: flex;
        gap: 8px;
        position: absolute;
        bottom: 32px;

        min-width: 300px;
        padding: 8px;
        right: 0;
        justify-content: left;
        background-color: rgb(0, 82, 150);
        border-radius: 10px 0 0 10px;

    }
    #social img{
        width: 48px;
    }
    
    @media (max-width:800px) {
        body{
            height: 95vh;
            }
        #social{
            min-width: 250px;
        }
        article{
            margin: 32px;
        }
    }